@import 'chip8/styles/colors.scss';

:local(.button) {
    width: 100%;
    background-color: darken($background, 2%);
    color: lighten($background, 10%);
    height: 50px;
    border: none;
    text-align: center;
    text-decoration: none;
}

:local(.active) {
    background-color: darken($background, 7%);
    color: $text;
    cursor: pointer;

    &:hover {
        background-color: darken($background, 5%);
    }
}
