@import 'chip8/styles/colors.scss';

:local(.container) {
    padding: 16px;
    flex-grow: 1;
    width: 33%;
}

:local(.controls) {
    width: 100%;
    display: flex;
    margin-bottom: 8px;
}

:local(.button) {
    flex-grow: 1;
    background-color: darken($background, 7%);
    height: 50px;
    border: none;
    color: $text;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: darken($background, 5%);
    }
}

:local(.disabled) {
    cursor: default;
    background-color: darken($background, 2%);
    color: lighten($background, 10%);
    &:hover {
        background-color: darken($background, 2%);
    }
}
