@import 'chip8/styles/colors.scss';

:local(.container) {
    height: 100%;
    width: 100%;
}

:local(.container > p) {
    margin-block-end: 0em;
    margin-block-start: 0em;
    padding-block-end: 0.5em;
    padding-block-start: 0.5em;
}

:local(.container > p:nth-child(even)) {
    background-color: $text;
    color: $background;
}

:local(span.address) {
    font-size: 0.75em;
}