$fa-font-path: "../../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import url('https://fonts.googleapis.com/css?family=Aldrich');
@import 'chip8/styles/colors.scss';

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: $background;
    font-family: 'Aldrich', sans-serif;
    color: $text;
}

#app {
    height: 100%;
}
